@charset "utf-8";

/*common*/
h2 {
  margin: 0;
  font-size: medium;
  padding: 16px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: small;
  padding: 16px;
}

a {
  color: #777 ;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
}



/*header*/

header {
  text-align: center;
}
 nav {
 display: flex;
 text-align: center;
 justify-content: space-between;
 }


 nav ul {
  display: flex;
  align-items: center;
  
}

 nav li {
  list-style: none;
  padding: 0 8px;
}

.info {
  margin-right: 32px;
}

/*main*/
.main-img {
  width: 100%;
  height: auto;
  padding: 8px;
}
/*text*/

.text {
  text-align: center;
}
 .text div {
  text-align: left;
 }

/*products*/
.product-img {
  display: flex;
}

.product-img img {
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.product-img nav ul {
 text-wrap: wrap;
 
}



.product-img h3 {
  font-family: Arial, Helvetica, sans-serif; 
}

.product-img p {
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.product-img .text-product {
  text-align: left;
}

/*table*/
table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 16px;
  width: 70%;
}
th {
  font-weight: normal;
  background: #eee;
}
th,
td {
  padding: 4px;
  border: 1px solid;
}
th:nth-child(1) {
  width: 180px;
}
th:nth-child(2) {
  width: 180px;
}
td:nth-child(2) {
  text-align: right;
}
tr:last-child {
  font-weight: bold;
}
input[type="checkbox"] {
  margin-right: 8px;
}

.cartbtn {
  width: 100%;
  background-color: #4B4B4B;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 18px 0;
  margin-bottom: 30px;
  text-align: center;
}


/*footer*/
footer {
  text-align: center;
  padding: 32px 64px;
}

small {
  color: #777;
}
